## Loading dataset

In [1]:
import pandas as pd
import numpy as np
import json

# Load the JSON data into a Pandas DataFrame
with open('amazon_uk_shoes_dataset.json') as f:
    data = json.load(f)

df = pd.DataFrame(data)

## Inpecting the dataset

In [2]:
df.head()

,url,title,asin,price,brand,product_details,breadcrumbs,images_list,features
0,https://www.amazon.co.uk/dp/B08BLP231K,"Geox Jr Sandal Strada B Fisherman, Brown Red, ...",B08BLP231K,£50.00,Visit the Geox Store,Package Dimensions\n‏\n:\n‎\n\n31.2 x 21.4 x 1...,Shoes/Boys' Shoes/Sandals,[https://m.media-amazon.com/images/I/41Ouvqjha...,"[{'Outer Material': 'Synthetic'}, {'Inner Mate..."
1,https://www.amazon.co.uk/dp/B08N587YZ9,Fila Women's Oakmont Tr Sneaker,B08N587YZ9,£49.57 - £234.95,Fila,Product Dimensions\n‏\n:\n‎\n\n32.51 x 21.84 x...,Shoes/Women's Shoes/Fashion & Athletic Trainer...,[https://m.media-amazon.com/images/I/416fCMuxw...,"[{'Outer Material': 'fabric'}, {'Sole': 'Rubbe..."
2,https://www.amazon.co.uk/dp/B0918K4H1W,Gabor Rollingsoft Trainers in Plus Sizes Beige...,B0918K4H1W,None,Gabor,Is Discontinued By Manufacturer\n‏\n:\n‎\n\nNo...,Shoes/Women's Shoes/Fashion & Athletic Trainer...,[https://m.media-amazon.com/images/I/31GuoIF6F...,"[{'Outer Material': 'Leather'}, {'Sole': 'Leat..."
3,https://www.amazon.co.uk/dp/B07KMB98CG,Merrell Women'S Bare Access Xtr Trail Running ...,B07KMB98CG,£67.00 - £182.44,Visit the Merrell Store,Package Dimensions\n‏\n:\n‎\n\n28.96 x 19.81 x...,Shoes/Women's Shoes/Fashion & Athletic Trainer...,[https://m.media-amazon.com/images/I/51bLpccQM...,"[{'Outer Material': 'Synthetic'}, {'Inner Mate..."
4,https://www.amazon.co.uk/dp/B08CN3S1ZK,Desigual Women's Shoes_Runner_cmofl Sneakers W...,B08CN3S1ZK,£38.96 - £81.10,Desigual,Package Dimensions\n‏\n:\n‎\n\n34.6 x 21.8 x 1...,Shoes/Women's Shoes/Fashion & Athletic Trainer...,[https://m.media-amazon.com/images/I/41nMmmxX-...,"[{'Outer Material': 'Polyester'}, {'Inner Mate..."

## Performing basic EDA

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11605 entries, 0 to 11604
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   url              11605 non-null  object
 1   title            11605 non-null  object
 2   asin             11605 non-null  object
 3   price            11168 non-null  object
 4   brand            11605 non-null  object
 5   product_details  11605 non-null  object
 6   breadcrumbs      11605 non-null  object
 7   images_list      11605 non-null  object
 8   features         11605 non-null  object
dtypes: object(9)
memory usage: 816.1+ KB

In [4]:
df.describe()

,url,title,asin,price,brand,product_details,breadcrumbs,images_list,features
count,11605,11605,11605,11168,11605,11605,11605,11605,11605
unique,11605,10618,11605,9825,1830,10252,215,11213,7525
top,https://www.amazon.co.uk/dp/B08BLP231K,ARA Women's ROM Sneaker,B08BLP231K,£34.82,Visit the adidas Store,,Shoes/Women's Shoes/Fashion & Athletic Trainer...,[],[]
freq,1,11,1,54,685,654,2823,10,290

In [5]:
df.isnull().sum()

url                  0
title                0
asin                 0
price              437
brand                0
product_details      0
breadcrumbs          0
images_list          0
features             0
dtype: int64

## Cleaning data set

In [6]:
zero_price_details = df[df['price'] == 0]

In [7]:
df_cleaned = df.dropna()

In [9]:
 df_cleaned.shape

(11168, 9)

In [10]:
# Remove rows where 'price' column has missing values
df_cleaned_price = df.dropna(subset=['price'])

# Check the count of missing values after removal
print(df_cleaned_price.isnull().sum())

url                0
title              0
asin               0
price              0
brand              0
product_details    0
breadcrumbs        0
images_list        0
features           0
dtype: int64